<h1>New Year Collection</h1>
<h2>Choose your category</h2>
<mat-card>
  <mat-card-title></mat-card-title>
  <mat-card-content>
    <mat-selection-list role="list" fxLayout="row" [multiple]="false">
      <mat-list-option
        role="listoption"
        [value]="item"
        *ngFor="let item of categories$ | async"
        (click)="selectCategory(item)"
      >
        {{ item }}


      </mat-list-option>
      <mat-list-item
        role="listitem"
        *ngFor="let item of orders | async"
        (click)="sortByPrice(item)"
      >
        {{ item }}


        <mat-icon>unfold_more</mat-icon>
      </mat-list-item>
      <span class="material-symbols-outlined">
</span>
    </mat-selection-list>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Clothes</mat-card-title>
  <mat-card-content></mat-card-content>
  <mat-list role="list" class="service-list">
    <mat-list-item role="listitem" style="padding:5%" *ngFor="let item of productList$ | async">
      <img src="{{item.image}}" width="80" height="130"> {{ item.title }} <br>
      {{ item.price }}$

      <br>
      <button class="btn btn-primary  float-left  " style="display:block" (click)="delete(item.id)">Remove
      </button>


    </mat-list-item>
  </mat-list>
</mat-card>

