<h1>HOMEPAGE</h1>
<h2>LISTS:</h2>
<a routerLink="/products"> Product List </a> <br>
<a routerLink="/categories"> Categories </a> <br>
<a routerLink="/crypto-chips">Crypto Chips</a> <br>
<a routerLink="/holidays">Holidays</a> <br>
<a routerLink="/checkbox">Checkbox</a> <br>
<a routerLink="/categories-menu">Menu</a> <br>
<br>
<br>
<h2>FORMS:</h2>
<a routerLink="/create-product">Create product form</a> <br>
<a routerLink="/employee-form">Create employee form</a> <br>
<a routerLink="/user-login">User Login</a> <br>
<a routerLink="/register-form">Register Form</a> <br>

<h2>DETAILS:</h2>
<a routerLink="/cat-facts">Cat Facts</a> <br>
<a routerLink="/age/john">Age Prediction Site (John)</a> <br>
<a routerLink="/product/3">Product details (3)</a> <br>

